extends ../layouts/default

block content
    
    .container
        .row
            .col-sm-12
                h1:=__('About')
                hr
                br
        .row
            .col-sm-4
                img.img-center.img-responsive.img-circle(src="images/danya2.JPG", alt='Darya Ovchinnikova', width="250")
                br
                hr.hr1
                .row
                    h2.text-center Дарья Овчинникова
                    .col-sm-8.col-sm-offset-2
                        hr.hr1
                    h4.text-center dashamatsay@gmail.com
            .col-sm-8
                h4 ETLT jewelry - это проект, который призван дополнить ваш образ яркими и неповторимыми аксессуарами, как на каждый день, так и для особых случаев. 
                p
                    .row
                        .col-sm-4
                            hr.hr1

                p Все просто, меня зовут Овчинникова Дарья, и это моя творческая мастерская Enjoy the little things! Название моей мастерской совсем не случайно, так как, образ любого человека состоит из множества деталей, именно они вдохновляют, притягивает внимание, делают вас интересными и индивидуальными :) 
                p Практически каждое мое украшение создано в единственном экземпляре, оно несет свою энергетику, и я уверена, что делаюсь с вами только позитивными эмоциями и своей частичкой вдохновения, чего вы точно не сможете получить от аксессуаров из масс маркета. 
                p Моя страсть к авторским украшениям началась с ночи накануне нашей свадьбы, когда уже под утро я заканчивала расшивать свое украшение для волос, и с того момента никак не могу остановиться! 
                p Кроме аксессуаров представленных на сайте, вы так же можете сделать индивидуальный заказ, просто написав мне имейл, рассказав что вы любите, каков ваш стиль и пожелания к деталям, и тогда, в результате нашего сотрудничества, я уверена, получится что то невероятно красивое :) 
                p Для меня handmade это не просто хобби, или модное увлечение, это стиль жизни. Каждый день я учусь, развиваю свое мастерство, экспериментирую с различными материалами, ищу вдохновение везде вокруг себя, это часть моей жизни. Моя творческая мастерская позволила мне открыть новый мир и заставить посмотреть на него новым креативным взглядом, которым я с удовольствием, с вами буду делиться! 
            
block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")
    
    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
        
        

     
    