extends ../layouts/default

block content
    
    .container.text-justify
        .row
            .col-sm-9.col-sm-offset-1.col-xs-12
                h2:=__('Use conditions')
                img(src="../../images/main/2.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/3.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/1.jpg", alt='Iphone', style="height:150px;")
                
                p На сайте Вы можете просмотреть все мои украшения и заказать понравившееся
                p Прошу не используйте мои фотки в случае если Вы решили изготовить самостоятельно украшение по примеру моего. 

block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")

    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
                
        

     
    