extends ../layouts/default

block content
    
    .container.text-justify
        .row
            .col-sm-9.col-sm-offset-1.col-xs-12
                h2:=__('FAQ')
                img(src="../../images/main/2.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/3.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/1.jpg", alt='Iphone', style="height:150px;")
                
                h3 Как быстро я выполню заказ? 

                p Все будет зависит от моего свободного времени и уже имеющихся заказов в очереди. 
                hr.hr1

                h3 Могу ли я передать при личной встречи? 

                p У меня для таких целей есть курьер. 
                hr.hr1
                    
                h3 Почему так дорого? 

                p Себестоимость материалов, которые изготовляются в большинстве не в Украине, растет постоянно из-за финансовой ситуации в стране, к сожелению.
block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")
    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");              
        
     
    