extends ../layouts/default

block content
    
    .container.text-justify
        .row
            .col-sm-9.col-sm-offset-1.col-xs-12
                h2:=__('Partners')
                img(src="../../images/main/2.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/3.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/1.jpg", alt='Iphone', style="height:150px;")
                
                h3 Я готова к сотрудничеству

                p Вы можете связаться со мной удобным для вас способом, более подробную информацию можно найти в разделе контакты. 
                p Моя творческая мастерская находится в городе Киев, Украина, а мои изделия могут быть отправлены по всему миру, способы доставки обсуждаются лично, по Украине отправляю украшения Новой почтой, время ожидания 1-2 дня без учета срока изготовления изделия. 
                
                hr.hr1
                    
                h3 Что интересно? 

                p Готова помочь в изготовлении Ваших идей  
                
block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")
    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");        

     
    