extends ../layouts/default

block content
    
    .container.text-justify
        .row
            .col-sm-9.col-sm-offset-1.col-xs-12
                h2:=__('Payment details')
                img(src="../../images/main/3.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/2.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/1.jpg", alt='Iphone', style="height:150px;")

                h3 Как сделать индивидуальный заказ? 

                p Вы можете связаться со мной удобным для вас способом, более подробную информацию можно найти в разделе контакты. 
                p Моя творческая мастерская находится в городе Киев, Украина, а мои изделия могут быть отправлены по всему миру, способы доставки обсуждаются лично, по Украине отправляю украшения Новой почтой, время ожидания 1-2 дня без учета срока изготовления изделия. 
                hr.hr1

                h3 Сроки изготовление изделия? 

                p В зависимости от сложности изделия, и количества текущих заказов сроки изготовления могут варьироваться. Я понимаю, что невесты, к примеру,подбирают аксессуары в последние несколько недель до события, а бывает что и в последние несколько дней, но, я буду очень благодарна если у нас в запасе будет как минимум 2-3 недели времени для того что бы учесть все ваши пожелания, определиться с дизайном и вашим видением, и в итоге сделать идеальное для вас украшение :) 
                p Для остальных изделий срок изготовления около 5-7 дней. 
                hr.hr1
                    
                h3 Стоимость изделий? 

                p Стоимость изделия рассчитывается исходя не только от сложности его дизайна или внешнего вида, но и, исходя из качества материалов. При создании каждого украшения от начала и до конца, я использую только качественные материалы, тщательно отобранные мной, не только в Украине, но и разных концах света. 

block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")
    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");      

     
    