extends ../layouts/default

block content
    
    .container.text-justify
        .row
            .col-sm-9.col-sm-offset-1.col-xs-12
                h2:=__('Search people')
                img(src="../../images/main/2.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/3.jpg", alt='Iphone', style="height:150px;")
                img(src="../../images/main/1.jpg", alt='Iphone', style="height:150px;")
                
                h3 Курьер 

                p Я готова сотрудничать с курьерами
                p Все условия о нашем сотрудничестве можете узнать написав мне личное сообщение или email
                hr.hr1

                h3 Помощница

                p Я готова сотрудничать с любительницами hand-made
                p Все условия о нашем сотрудничестве можете узнать написав мне личное сообщение или email
                hr.hr1
                    
                h3 Референт

                p Я готова сотрудничать с личным референтом
                p Все условия о нашем сотрудничестве можете узнать написав мне личное сообщение или email
                
        
block js
    //- script(src="/js/vendor/backstretch/jquery.backstretch.min.js")
    script.
        //- $.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
     
    